In [1]:
#importing necessary packages
import numpy as np
import pandas as pd
import sklearn as sk
import seaborn as sb
import datetime as dt
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics 
from sklearn.metrics import classification_report

from sklearn.cross_validation import cross_val_score
%matplotlib inline

# importing data using own made package
from Data import data

medical_data=data

#Checking data
print(medical_data.head(5))

C:\Users\conor\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

      PatientId  AppointmentID Gender        ScheduledDay AppointmentDay  Age  \
0  2.987250e+13        5642903      F 2016-04-29 18:38:08     2016-04-29   62
1  5.589978e+14        5642503      M 2016-04-29 16:08:27     2016-04-29   56
2  4.262962e+12        5642549      F 2016-04-29 16:19:04     2016-04-29   62
3  8.679512e+11        5642828      F 2016-04-29 17:29:31     2016-04-29    8
4  8.841186e+12        5642494      F 2016-04-29 16:07:23     2016-04-29   56

       Neighbourhood  Scholarship  Hypertension  Diabetes  Alcoholism  \
0    JARDIM DA PENHA            0             1         0           0
1    JARDIM DA PENHA            0             0         0           0
2      MATA DA PRAIA            0             0         0           0
3  PONTAL DE CAMBURI            0             0         0           0
4    JARDIM DA PENHA            0             1         1           0

   Disabled  SMS Received No-show
0         0             0      No
1         0             0      No
2         0             0      No
3         0             0      No
4         0             0      No

In [5]:
from test import add_columns

add_columns(medical_data,'test',['Diabetes','Hypertension','Alcoholism','Disabled'])

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Disabled,SMS Received,No-show,test
0,2.987250e+13,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,1
1,5.589978e+14,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,0
2,4.262962e+12,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,0
3,8.679512e+11,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0
4,8.841186e+12,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,2
5,9.598513e+13,5626772,F,2016-04-27 08:36:51,2016-04-29,76,REPÚBLICA,0,1,0,0,0,0,No,1
6,7.336882e+14,5630279,F,2016-04-27 15:05:12,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes,0
7,3.449833e+12,5630575,F,2016-04-27 15:39:58,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes,0
8,5.639473e+13,5638447,F,2016-04-29 08:02:16,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No,0
9,7.812456e+13,5629123,F,2016-04-27 12:48:25,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No,0
10,7.345362e+14,5630213,F,2016-04-27 14:58:11,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,No,0
11,7.542951e+12,5620163,M,2016-04-26 08:44:12,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,Yes,0
12,5.666548e+14,5634718,F,2016-04-28 11:33:51,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,No,0
13,9.113946e+14,5636249,M,2016-04-28 14:52:07,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,No,0
14,9.988472e+13,5633951,F,2016-04-28 10:06:24,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,No,0
15,9.994839e+10,5620206,F,2016-04-26 08:47:27,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,No,0
16,8.457439e+13,5633121,M,2016-04-28 08:51:47,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,No,0
17,1.479497e+13,5633460,F,2016-04-28 09:28:57,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,Yes,0
18,1.713538e+13,5621836,F,2016-04-26 10:54:18,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,No,0
19,7.223289e+12,5640433,F,2016-04-29 10:43:14,2016-04-29,46,DA PENHA,0,0,0,0,0,0,No,0
20,6.222575e+14,5626083,F,2016-04-27 07:51:14,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,Yes,0
21,1.215484e+13,5628338,F,2016-04-27 10:50:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,Yes,0
22,8.632298e+14,5616091,M,2016-04-25 13:29:16,2016-04-29,13,CONQUISTA,0,0,0,0,0,1,Yes,0
23,2.137540e+14,5634142,F,2016-04-28 10:27:05,2016-04-29,46,CONQUISTA,0,0,0,0,0,0,No,0
24,8.734858e+12,5641780,F,2016-04-29 14:19:19,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,0,No,0
25,5.819370e+12,5624020,M,2016-04-26 15:04:17,2016-04-29,46,CONQUISTA,0,1,0,0,0,1,No,1
26,2.578785e+10,5641781,F,2016-04-29 14:19:42,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,0,No,1
27,1.215484e+13,5628345,F,2016-04-27 10:51:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,No,0
28,5.926172e+12,5642400,M,2016-04-29 15:48:02,2016-04-29,51,SÃO PEDRO,0,0,0,0,0,0,No,0
29,1.225776e+12,5642186,F,2016-04-29 15:16:29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110497,7.935892e+14,5757745,M,2016-06-01 09:46:33,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,0,No,0
110498,9.433654e+13,5787655,F,2016-06-08 10:21:14,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No,0
110499,8.219692e+14,5757697,F,2016-06-01 09:42:56,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,0,No,2
110500,4.434384e+14,5787233,F,2016-06-08 09:35:13,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No,0
110501,4.544252e+11,5758133,M,2016-06-01 10:19:12,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,0,No,0
110502,7.316229e+14,5787937,F,2016-06-08 10:50:42,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,0,No,0
110503,2.362182e+13,5759473,F,2016-06-01 13:00:36,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No,0
110504,9.947983e+12,5788052,F,2016-06-08 11:06:21,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,0,No,0
110505,5.667344e+13,5758455,F,2016-06-01 10:45:50,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,0,No,0
110506,8.973883e+11,5758779,M,2016-06-01 11:09:20,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,0,No,0
110507,4.769462e+14,5786918,F,2016-06-08 09:04:18,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,0,No,0
110508,9.433654e+13,5757656,F,2016-06-01 09:41:00,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,0,No,0
110509,4.952968e+14,5786750,M,2016-06-08 08:50:51,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,0,No,0
110510,2.362182e+13,5757587,F,2016-06-01 09:35:48,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No,0
110511,8.235996e+11,5786742,F,2016-06-08 08:50:20,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,0,No,0
110512,9.876246e+13,5786368,F,2016-06-08 08:20:01,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,0,No,0
110513,8.674778e+13,5785964,M,2016-06-08 07:52:55,2016-06-08,2,ANTÔNIO HONÓRIO,0,0,0,0,0,0,No,0
110514,2.695685e+12,5786567,F,2016-06-08 08:35:31,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,0,No,0
110515,6.456342e+14,5778621,M,2016-06-06 15:58:05,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,0,Yes,1
110516,6.923772e+13,5780205,F,2016-06-07 07:45:16,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,0,Yes,0
110517,5.574942e+12,5780122,F,2016-06-07 07:38:34,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,0,No,0
110518,7.263315e+13,5630375,F,2016-04-27 15:15:06,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,1,No,0
110519,6.542388e+13,5630447,F,2016-04-27 15:23:14,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,1,No,0
110520,9.969977e+14,5650534,F,2016-05-03 07:51:47,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,1,No,0
110521,3.635534e+13,5651072,F,2016-05-03 08:23:40,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,1,No,0
110522,2.572134e+12,5651768,F,2016-05-03 09:15:35,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No,0
110523,3.596266e+12,5650093,F,2016-05-03 07:27:33,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No,0
110524,1.557663e+13,5630692,F,2016-04-27 16:03:52,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No,0
110525,9.213493e+13,5630323,F,2016-04-27 15:09:23,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No,0
110526,3.775115e+14,5629448,F,2016-04-27 13:30:56,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No,0

In [4]:
def add_columns(dataframe,newcolname,names):
    dataframe[newcolname]=0
    for i in names:
        dataframe[newcolname]=dataframe[newcolname]+dataframe[i]
    return dataframe  

add_cols(medical_data,'test',['Diabetes','Hypertension','Alcoholism','Disabled'])

NameError: name 'add_cols' is not defined